# --- CONFIGURAÇÕES DO BANCO DE DATAS (DOCKER) ---
DB_USER=adminpg
DB_PASS=Postgres123
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=dbvector

# --- CHAVES DAS APIS (Obrigatório) ---
OPENAI_API_KEY=sua_chave_da_openai_aqui
GOOGLE_API_KEY=sua_chave_do_google_aqui

# --- CONFIGURAÇÕES DE MODELOS ---
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-5-nano
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
GEMINI_CHAT_MODEL=gemini-2.5-flash-lite